<h1>Listing Debts</h1>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Amount</th>
      <th>Date</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= for debt <- @debts do %>
      <tr>
        <td><%= debt.title %></td>
        <td><%= debt.amount %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<span><%= link "New Debt", to: Routes.debt_path(@conn, :new) %></span>
