<h1>Show Debt</h1>

<ul>

  <li>
    <strong>Title:</strong>
    <%= @debt.title %>
  </li>

  <li>
    <strong>Amount:</strong>
    <%= @debt.amount %>
  </li>

  <li>
    <strong>Date:</strong>
    <%= @debt.date %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.debt_path(@conn, :edit, @debt) %></span>
<span><%= link "Back", to: Routes.debt_path(@conn, :index) %></span>
