<section class="jumbotron">
  <h2 class="display-6 mb-5"><%= gettext "Creating new payoff" %></h2>
  <%= render "form.html", Map.put(assigns, :action, Routes.payoff_path(@conn, :create, @default_option)) %>
  <span><%= link "Back", to: Routes.dashboard_path(@conn, :index), class: "btn btn-primary mt-3 btn-sm" %></span>
</section>
