<h1>Show Payoff</h1>

<ul>

  <li>
    <strong>Title:</strong>
    <%= @payoff.title %>
  </li>

  <li>
    <strong>Amount:</strong>
    <%= @payoff.amount %>
  </li>

  <li>
    <strong>Date:</strong>
    <%= @payoff.date %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.payoff_path(@conn, :edit, @payoff) %></span>
<span><%= link "Back", to: Routes.payoff_path(@conn, :index) %></span>
